// =============================================================================
// БАЗОВАЯ СЕТКА И ЛЕЙАУТ
// =============================================================================

@use '../abstracts' as *;

.container {
  width: 100%;
  padding-right: spacing(4);
  padding-left: spacing(4);
  margin-right: auto;
  margin-left: auto;

  @include media(sm) {
    max-width: 100%;
  }

  @include media(md) {
    max-width: 720px;
  }

  @include media(lg) {
    max-width: 960px;
  }

  @include media(xl) {
    max-width: 1140px;
  }

  @include media(xxl) {
    max-width: 1320px;
  }
}

.row {
  @include flex(row, flex-start, stretch, wrap);
  margin-right: spacing(-2);
  margin-left: spacing(-2);
}

.col {
  flex: 1 0 0%;
  padding-right: spacing(2);
  padding-left: spacing(2);
}
body.no-scroll {
  overflow: hidden;
}
.wrapper{
  position: relative;
}
.wrap-cont {
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
