// =============================================================================
// ТИПОГРАФИКА
// =============================================================================

@use '../abstracts' as *;

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: spacing(2);
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: font-size(4xl);
  margin-bottom: rem(30px);
  @include media(md, max){
    font-size: font-size(3xl);
  }
  @include media(sm, max){
    font-size: font-size(xl);
  }
}
h2 { font-size: font-size(3xl); }
h3 { font-size: font-size(2xl); }
h4 { font-size: font-size(xl); }
h5 { font-size: font-size(lg); }
h6 { font-size: font-size(base); }

p {
  margin-top: 0;
  margin-bottom: spacing(4);
}

a {
  color: color(primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
