@use '../abstracts' as *;
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: rem(580px);
  margin: rem(140px) auto;
}
@media screen and (max-width: 575.9px) {
  .not-found {
    margin: rem(140px) rem(20px);
    width: auto;
    max-width: inherit;
  }
}
@media screen and (max-width: 373.9px) {
  .not-found {
    margin: rem(90px) rem(20px) rem(10px) rem(20px);
  }
}
.not-found__title {
  font-size: rem(200px);
  font-weight: 700;
  color: color(primary);
  line-height: 80%;
}
@media screen and (max-width: 490px) {
  .not-found__title {
    font-size: rem(160px);
  }
}
@media screen and (max-width: 373.9px) {
  .not-found__title {
    font-size: rem(120px);
  }
}
.not-found__text {
  color: color(text-in-dark);
  font-size: rem(18px);
  text-align: center;
  line-height: rem(30px);
  margin: rem(30px) 0;
}
@media screen and (max-width: 490px) {
  .not-found__text {
    font-size: rem(16px);
    line-height: rem(25px);
  }
}
@media screen and (max-width: 373.9px) {
  .not-found__text {
    font-size: rem(14px);
    line-height: rem(20px);
  }
}
.not-found__btn {
  background-color: color(primary);
  font-size: rem(18px);
  font-weight: 400;
  padding: rem(10px) rem(20px);
  color: #fff;
  border-radius: rem(10px);
  @include transition(all)
}
.not-found__btn:hover {
  background-color: color(primary-700);
  text-decoration: none;
}
@media screen and (max-width: 490px) {
  .not-found__btn {
    font-size: rem(16px);
  }
}
